@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --darkCyan: hsl(185, 75%, 39%);
    --veryDarkBlue: hsl(229, 23%, 23%);
    --darkGrayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    list-style: none;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 375px;
    background-color: var(--darkCyan);
    background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
    background-position: left -750px top -600px, right -750px bottom -600px;
    background-repeat: no-repeat, no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

section.container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 340px;
    box-shadow: 0px 20px 50px 10px rgba(46, 37, 37, 0.26);
}

div.banner {
    background-image: url('./images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-basis: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

img.avatar {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 100px;
    border: 4px solid white;
    border-radius: 50%;
}

div.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 0 0 15px 15px;
}

div.description {
    height: 75px;
    margin-top: 70px;
}

div.description h1 {
    color: var(--veryDarkBlue);
    font-weight: 700;
    padding-right: 10px;
}

div.description h1 span {
    color: var(--darkGrayishBlue);
    font-weight: 400;
    padding-left: 5px;
}

div.description p {
    color: var(--darkGrayishBlue);
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}

div.numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95px;
    width: 100%;
    border-top: 1px solid var(--darkGray);
    padding: 0 40px;
}

div.numbers ul li:nth-child(odd) {
    line-height: 30px;
    font-weight: 700;
    color: var(--veryDarkBlue);
}

div.numbers ul li:nth-child(even) {
    font-size: 11px;
    letter-spacing: 1px;
    color: var(--darkGrayishBlue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    font-size: 11px;
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1025px) {
    body {
        min-width: 1440px;
        align-items: center;
        justify-content: center;
        background-color: var(--darkCyan);
        background-image: url("images/bg-pattern-top.svg"), url("images/bg-pattern-bottom.svg");
        background-position: left -200px top -500px, right -200px bottom -500px;
        background-attachment: fixed;
        background-repeat: no-repeat, no-repeat;
    }
}